*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 18px;
}
body{
	font: 1rem/1.45rem Arial,sans-serif;
	color: #333;
}
h1{
	margin: 2rem 0;
}
h2{
	margin: 1.7rem 0;
}
p{
	margin: 0.8rem 0;
}
.container{
	width: 1080px;
	margin: 0 auto;
}
.message{
	color: #ff7800;
	border-left: 2px solid #ff7800;
	background: #ecdacb;
	padding: 2rem 3rem;
}
.nav{
border: 4px solid grey;
}
ul,h4{
	margin: 1rem 0 1rem 2rem;
}
ul li{
	margin: 0.5rem;
	list-style-type: disk;
}
.nav ul li{
	list-style-type: none;
	list-style-image: url(../img/up.icon.svg);
}
ol li{
	margin: 0.5rem;
	list-style-type: lower-latin;
}
ol ul li{
	list-style-type:disc;
}
.icon-message::before{
	content: '\f015';
	font-family: 'Fontawesome';
	font-size: 40px;
	line-height: 20px;
	color:#ff7800;
	display: inline-block;
	padding: 10px;
	margin: 10px;
}